<div>
   <form action="" (submit)="onSubmit()">
      <label>search by city or country:</label>
      <input type="text" name="city" placeholder="Example: london" [(ngModel)]='city'  >

   </form>
   <button class="btn" (click)="showTemperature()">show</button>
</div>
<div class="container" *ngIf="weatherData">
   <div class="upper-data">
      <img src="../assets/cold.jpeg"*ngIf="weatherData.main.temp<15">
      <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp>=15">

      <div class="weather-info">
         <fa-icon class="mainIcon" [icon]="faCloudShowersHeavy" *ngIf="weatherData.main.temp<15"></fa-icon>
         <fa-icon class="mainIcon" [icon]="faSun" *ngIf="weatherData.main.temp>=15"></fa-icon>
         <div class="country">{{weatherData.name}}</div>
         <div class="temperature">{{weatherData.main.temp}}°</div>
      </div>
   </div>
   <div class="lower-data">
      <div class="more-info">
         <h2>more information</h2>
      </div>
      <div class="items">
         <div class="item-container">
            <div>
               <fa-icon [icon]="faTemperatureLow"></fa-icon>
               <h3>min</h3>
            </div>

            <span>{{weatherData.main.temp_min}}°</span>
         </div>

         <div class="item-container">
            <div>
               <fa-icon [icon]="faTemperatureHigh"></fa-icon>
               <h3>max</h3>
            </div>
            <span>{{weatherData.main.temp_max}}°</span>
         </div>

         <div class="item-container">
            <div>
               <fa-icon [icon]="faDroplet"></fa-icon>
               <h3>humindity</h3>
            </div>
            <span>{{weatherData.main.humidity}}%</span>
         </div>

         <div class="item-container">
            <div>
               <fa-icon [icon]="faWind"></fa-icon>
               <h3>speed</h3>
            </div>
            <span>{{weatherData.wind.speed}} km/h</span>
         </div>
      </div>

   </div>

</div>
